body{
    font-family: Montserrat,sans-serif;
    margin: 0px;
    background-color: black;
    color: white;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar{
background-color: #000;
width: 350px;
border-radius: 1rem;
margin:0.5rem;
}
.maincontent{
background-color: #121212;
flex:1;
border-radius: 1rem;
overflow: auto;
padding:0 1.5rem 0 1.5rem;
}
.music-player{
background-color: #000;
bottom: 0;
position: fixed;
width: 100%;
height: 72px;
}
a{
    text-decoration: none;
    color:white;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    height: 100px;
}
.navoption{
line-height: 2.5rem;
opacity: 0.7;
 padding: 0.5rem 0.75rem;
}
.navoption:hover{
opacity: 1;
}
.navoption i{
    font-size: 1.25rem;
}
.navoption a{
    font-size: 1rem;
    margin-left: 1rem;
    text-decoration: none;
}
.librery{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
     padding: 0.5rem 0.75rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.liboption img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons{
    font-size: 1.25rem;
    display: flex;
}
.icons i{
opacity: 0.7;
margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}
.box{
    background-color: #232323;
    height: 8rem;
    margin:0.75rem 0 1.75rem 0;
    padding:0.75rem 1rem;
    border-radius: 0.75rem;
}
.box-par1{
    font-size: 1rem;
    font-weight: 500;
}
.box-par2{
    font-size:0.85rem;
    opacity: 0.9;
}
.badge{
    background-color: white;
    color:black;
    border-radius: 100px;
    border:none;
    padding:0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
}
.dark-badge{
    background-color: #000;
    color: white;
}
.stickynav{
    position: sticky;
    top: 0;
    display: flex;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
    padding:1rem 0 1rem 0;
    z-index: 10;
}
.sticky-nav-icons{
margin-left: 0.75rem;
}
.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    margin-right: 1rem;
}
@media(max-width:1000px)
{
    .hide{
        display: none;
    }
}
.card{
    background-color: #232323;
    width:150px;
    border-radius: 0.5rem;
    padding:1rem;
    margin-left:1.5rem;
    margin-top: 1rem;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;
}
.card-title{
    font-weight:600;
}
.card-info{
    font-size: 0.85rem;
    opacity:0.5;
}
.footer{
    height:300px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.line{
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.4;
}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.player{
    width: 50%;
}
.album{
    width:25%;
}
.control{
    width: 25%;
}
.player-control{
     display: flex;
    justify-content: center;
    align-items: center;

}
.player-control-icon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}
.player-control-icon:hover{
    opacity: 1;
}
.playyback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prograss-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.prograss-bar::-webkit-slider-runnable-track{
    border-radius: 100px;
    background-color: #ddd;
    height: 0.2rem;
}
.prograss-bar::-webkit-slider-thumb{
    appearance: none;
    background-color: #1bd760;
    height:1rem;
    width: 1rem;
    border-radius: 50%;
    margin-top: -6px;
}